<ul class="breadcrumb">
    <li><a class="active" href="{{ path('homepage') }}">Home</a><span class="divider">/</span></li>
    <li><a class="" href="{{ path('idea_list') }}">Ideas</a><span class="divider">/</span></li>
    <li><a class="" href="{{ path('issue_list') }}">Issues</a><span class="divider">/</span></li>
</ul>