{% extends 'TwpDashboardBundle::layout.html.twig' %}

{% block body %}
<section>
    <h1>TWP Community</h1>
    <ul>
        <li><a id="new-idea" class="idea-button" href="#"></a></li>
        <li><a id="new-issue" class="idea-button" href="#"></a></li>
    </ul>
    <form action="{{ path('idea_add') }}" method="post" {{ form_enctype(form) }}>
        <h2>I suggest you...</h2>
        {{ form_widget(form) }}
        <input type="Submit" value="Add"/>
    </form>
    <form id="new-issue-form">
        <h2>You need to fix...</h2>
        <div>
            <span>Enter your issue...</span>
            <input name="issue[title]" type="text" value="">
        </div>
        <div>
            <span>Describe your issue...</span>
            <textarea name="issue[content]"></textarea>
        </div>
        <input type="Submit" value="Add"/>
    </form>
</section>
{% endblock %}
