You added {{ idea.title }}.
Thank you for your feedback.
If you dont't want to see notifications about this idea, goto <a href="{{ url('idea_show', { 'id': idea.id}) }}">{{ url('idea_show', { 'id': idea.id}) }}</a> and click 'Unwatch' button.