{% extends twp_idea_layout %}

{% block content %}
{% include 'TwpIdeaBundle:Idea:_listItem.html.twig' with { 'idea': idea } %}
<div class="comments">
    <form action="{{ path('idea_show', { 'id': idea.id }) }}" method="post" {{ form_enctype(commentForm) }}>
        {{ form_widget(commentForm) }}
        <input type="Submit" value="Post"/>
    </form>
    {% for comment in idea.comments %}
        <section>
            {{ comment.content }}
        </section>
    {% endfor %}
</div>
{% endblock  %}