{% extends twp_idea_layout %}

{% block content %}
<article id="idea">
    <header>{{ idea.title}}</header>
    <section>{{ idea.content }}</section>
</article>
<div class="comments">
    {% for comment in idea.comments %}
        <section>
            {{ comment.content }}
        </section>
    {% endfor %}
</div>
{% endblock  %}